{if !isset($WITHOUT_BUTTONS)}
	<fieldset id="formFinal">
                    <div class="form-group">

                    <div class="col-sm-offset-2 col-sm-1">
                        <button type="reset" class="btn btn-default btn-danger"> Reset text</button>
                    </div>

                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-default btn-success">Submit</button>
                    </div>
                </div>
 	</fieldset>
{/if}	
    </fieldset>
</form>
