<script type="text/javascript">
//<![CDATA[
var caminhoImagens = "{$BASE_URL}/imagens/";
var BASE_URL = "{$BASE_URL}";        
{if $selfScript}    
{$selfScript}
{/if}            
//]]>
</script>

{foreach $CDN->getJS() as $lib}
<script type="text/javascript" src="{$lib}" {if $lib->getSha()}integrity="{$lib->getSha()}" crossorigin="anonymous"{/if} ></script>
{/foreach}

{foreach $libsJS as $scriptJavaScript}
<script type="text/javascript" src="{$scriptJavaScript}.js"></script>
{/foreach}

{foreach $scripts as $scriptJavaScript}
<script type="text/javascript" src="{$scriptJavaScript}"></script>
{/foreach}

{foreach $modules as $moduleJavaScript}
<script type="module" src="{$moduleJavaScript}"></script>
{/foreach}

{if $selfScript}
<script type="text/javascript">
 //<![CDATA[
{$selfScriptPos}
//]]>
</script>
{/if}
<!--<noscript>
<p class="vermelho">
Seu navegador não possui JavaScript algumas funcionalidades do sistema poderá ser afetada
</p>
</noscript>-->
<script async src="https://www.googletagmanager.com/gtag/js?id={$GTAG}"></script>
<script>
window.dataLayer = window.dataLayer || [];
{literal}
function gtag(){dataLayer.push(arguments);}
{/literal}
gtag('js', new Date());
gtag('config', '{$GTAG}');
</script>

</body>
</html>
